body {
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5769D4;
  /* height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
